AUSyncer/bin/
AUSyncer/gen/
AUSyncer/.settings/
AUSyncer/.project
AUSyncer/.classpath
AUSyncer/local.properties

ExampleAUSyncer/bin/
ExampleAUSyncer/gen/
ExampleAUSyncer/.settings/
ExampleAUSyncer/.project
ExampleAUSyncer/.classpath
ExampleAUSyncer/local.properties

*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
