AUSyncer/bin/
AUSyncer/gen/
AUSyncer/.settings/
AUSyncer/.project
AUSyncer/.classpath
AUSyncer/local.properties
AUSyncer/lint.xml

AUSyncerTest/bin/
AUSyncerTest/gen/
AUSyncerTest/.settings/
AUSyncerTest/.project
AUSyncerTest/.classpath
AUSyncerTest/local.properties
AUSyncerTest/lint.xml

ExampleAUSyncer/bin/
ExampleAUSyncer/gen/
ExampleAUSyncer/.settings/
ExampleAUSyncer/.project
ExampleAUSyncer/.classpath
ExampleAUSyncer/local.properties
ExampleAUSyncer/lint.xml

*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
